# Archivos temporales / pesados que no van a la web
catalogo.pdf
WhatsApp Image*.jpeg
index.html.bak
index.html.bak2
assets/logo-tere-rojo.bak.png
.DS_Store
catpages/

# Local Netlify folder
.netlify

# Carpeta temporal de despliegue manual
_deploy/
